<o-form-layout-manager attr="StaffTraining" mode="tab" title="STAFFTRAINING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="StaffTrainingTable" 
            service="StaffTraining" 
            entity="StaffTraining" 
            title="STAFFTRAINING"
            keys="id"
            columns="id;staff_id;training_id" 
            header-actions="R;D"
            visible-columns="id;staff_id;training_id"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="staff_id" title="staff_id">
    <o-table-cell-renderer-service attr="staff_id" 
        service="StaffMember" entity="StaffMemberType" columns="id;name"
        parent-keys="id:staff_id"
        value-column="name" keys="staff_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="training_id" title="training_id">
    <o-table-cell-renderer-service attr="training_id" 
        service="TrainingSession" entity="TrainingSessionType" columns="id;id"
        parent-keys="id:training_id"
        value-column="id" keys="training_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>