<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="StaffMember_form_edit" 
        service="StaffMember" 
        entity="StaffMember" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #role attr="role" label="role" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #skills_summary attr="skills_summary" label="skills_summary" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="STAFFSKILL-staff_id">
    <div layout-padding>
      <o-table 
        attr="StaffSkillTable" 
        service="StaffSkill" 
        entity="StaffSkill" 
        keys="id"
        parent-keys="staff_id:id"
        columns="id;skill_id;staff_id"  
        horizontal-scroll="yes"
        detail-form-route="StaffSkill" 
        edit-form-route="StaffSkill"
        visible-columns="id;skill_id;staff_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="skill_id" title="skill_id">
    <o-table-cell-renderer-service attr="skill_id" 
        service="Skill" entity="SkillType" columns="id;name"
        parent-keys="id:skill_id"
        value-column="name" keys="skill_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="staff_id" title="staff_id">
    <o-table-cell-renderer-service attr="staff_id" 
        service="StaffMember" entity="StaffMemberType" columns="id;name"
        parent-keys="id:staff_id"
        value-column="name" keys="staff_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="STAFFTRAINING-staff_id">
    <div layout-padding>
      <o-table 
        attr="StaffTrainingTable" 
        service="StaffTraining" 
        entity="StaffTraining" 
        keys="id"
        parent-keys="staff_id:id"
        columns="id;staff_id;training_id"  
        horizontal-scroll="yes"
        detail-form-route="StaffTraining" 
        edit-form-route="StaffTraining"
        visible-columns="id;staff_id;training_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="staff_id" title="staff_id">
    <o-table-cell-renderer-service attr="staff_id" 
        service="StaffMember" entity="StaffMemberType" columns="id;name"
        parent-keys="id:staff_id"
        value-column="name" keys="staff_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="training_id" title="training_id">
    <o-table-cell-renderer-service attr="training_id" 
        service="TrainingSession" entity="TrainingSessionType" columns="id;id"
        parent-keys="id:training_id"
        value-column="id" keys="training_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>